<h1>Log In Below:</h1>

<form method="post" action="/sessions">

  <p><label>Email: </label><input type="text" name="email" /></p>

   <p><label>Password: </label><input type="text" name="password" /></p>

   <p>
     <input type="submit" name="Log In" value="Log In"/>   </p>

</form>
